{% extends 'base_dashboard.html.twig' %}
{% block title %}Sponsors list {% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <a class="btn btn-primary pull-right" href="{{path('sponsor_new')}} ">Add new sponsor</a>
            <div class="card-header">
                <div class="card-header">
                    <h4 class="card-title"> Sponsor</h4>
                    {% for flashMessage in app.session.flashbag.get('flashSuccess') %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert alert-info">
                                    <span><b>Succes !</b> {{flashMessage}}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="card-body">
                    {%if sponsors is empty %}
                    Aucun résultat est trouvé !
                    {%else%}
                    <div class="table-responsive">

                        <table  class="table" id="tab">
                            <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Contact</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sponsor in sponsors %}
            <tr>
                <td><a href="{{ sponsor.website }}">{{ sponsor.idevent.nameevent }} :  {{ sponsor.name }}</a></td>
                <td>{{ sponsor.type }}</td>
                <td>{{ sponsor.contact }}</td>
                <td>
                    <a href="{{ path('sponsor_edit', { 'id': sponsor.idsponsor }) }} "class="btn-width btn btn-sm btn-primary "><i class="fa fa-edit"></i> Edit</a>
                    <a href="{{ path('sponsor_delete', { 'id': sponsor.idsponsor }) }}" data-confirm="are you sure you want to delete this?" class="btn-width btn btn-sm btn-danger deleteBtn"><i class="fa fa-times"></i> Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
                        </table>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}