<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{asset('assets/dashboard/img/apple-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{asset('assets/dashboard/img/favicon.png')}}" sizes="32x32">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{% block title %}Vegagroup{% endblock %}</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!-- CSS Files -->
    <link rel="stylesheet" type="text/css" href="{{asset('assets/dashboard/plugins/datatables/datatables.min.css')}}"/>

    <link href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="{{asset('assets/dashboard/css/now-ui-dashboard.css')}}?v=1.0.1" rel="stylesheet" />
    {#	<script src="https://cdn.ckeditor.com/4.9.2/standard-all/ckeditor.js"></script>#}
    <script src="{{asset('assets/dashboard/plugins/ckeditor/ckeditor.js')}}"></script>
    <script>CKEDITOR.dtd.$removeEmpty['span'] = false;</script>
    <link rel="stylesheet" href="{{asset('assets/dashboard/css/font-awesome.css')}}">
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="{{asset('assets/dashboard/demo/demo.css')}}" rel="stylesheet" />
    <link href="{{asset('assets/dashboard/demo/custom.css')}}" rel="stylesheet" />

    {% block stylesheets %}{% endblock %}
    <script src="{{asset('assets/dashboard/js/core/jquery.min.js')}}"></script>
</head>

<body class="">
<div class="wrapper " >
    {{render ( controller ("WebsiteBundle:Default:sidebar") )}}
    <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <div class="navbar-toggle">
                        <button type="button" class="navbar-toggler">
                            <span class="navbar-toggler-bar bar1"></span>
                            <span class="navbar-toggler-bar bar2"></span>
                            <span class="navbar-toggler-bar bar3"></span>
                        </button>
                    </div>
                    <a class="navbar-brand" href="{{path('index')}}">Dashboard</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navigation">

                    <ul class="navbar-nav">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="now-ui-icons users_single-02"></i>
                                <p>
                                    <span class="d-lg-none d-md-block">Administrateur</span>
                                </p>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{{asset('assets/dashboard/pdf/ManuelBO.pdf')}}" target="_blank"><i class="fa fa-question"></i> Aide</a>
                                <a class="dropdown-item" href="{{path('index')}}">Se déconnecter</a>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->
        <div class="panel-header panel-header-sm" style="background-image: linear-gradient(90deg, rgb(12, 38, 70) 0px, rgb(32, 64, 101) 60%, rgb(42, 87, 136));
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background: linear-gradient(90deg,#0c2646 0,#204065 60%,#2a5788);
    background-image: linear-gradient(90deg, rgb(12, 38, 70) 0px, rgb(32, 64, 101) 60%, rgb(42, 87, 136));
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;">
            {#<canvas id="bigDashboardChart"></canvas>#}
        </div>
        <div class="content">

            {%block body %}{%endblock%}
        </div>
        <footer class="footer">
            <div class="container-fluid">

                <div class="copyright">
                    Powered by
                    <a href="https://www.veganet.com.tn" target="_blank">VEGANET</a>.
                </div>
            </div>
        </footer>
    </div>
</div>
</body>
<!--   Core JS Files   -->
<script src="{{asset('assets/dashboard/js/core/popper.min.js')}}"></script>
<script src="{{asset('assets/dashboard/js/plugins/perfect-scrollbar.jquery.min.js')}}"></script>
<!-- Chart JS -->
<script src="{{asset('assets/dashboard/js/plugins/chartjs.min.js')}}"></script>
<!--  Notifications Plugin    -->
<script src="{{asset('assets/dashboard/js/plugins/bootstrap-notify.js')}}"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="{{asset('assets/dashboard/js/now-ui-dashboard.js')}}?v=1.0.1"></script>
{#<script src="{{asset('assets/dashboard/plugins/datepicker/bootstrap-datepicker.js')}}?v=1.0.1"></script>#}
<!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
<script src="{{asset('assets/dashboard/demo/demo.js')}}"></script>

<script type="text/javascript" src="{{asset('assets/dashboard/plugins/datatables/datatables.min.js')}}"></script>
<script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
{#<script type="text/javascript" src="{{asset('assets/calendar/bootstrap-datetimepicker.fr.js')}}" charset="UTF-8"></script>#}
<!-- MOMENT -->
<script src="{{absolute_url(asset('assets/dashboard/plugins/moment/min/moment.min.js'))}}"></script>
<!-- bootstrap-datetimepicker -->
<script src="{{absolute_url(asset('assets/dashboard/plugins/daterangepicker/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js'))}}"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
    var asInitValsFact = new Array();
    $(document).ready(function ()
    {
        //activer le lien de cette page dans le sidebar
        var url = window.location;
        $('ul.nav a[href="' + url + '"]').parent().addClass('active');
        $('ul.nav a').filter(function ()
        {
            return this.href == url;
        }).parent().addClass('active');
        $('ul.nav a').filter(function ()
        {
            return this.href == url;
        }).parent().parent().parent().collapse();

        $('a[data-confirm]').click(function (ev)
        {
            var href = $(this).attr('href');
            if (!$('#dataConfirmModal').length)
            {
                $('body').append('<div id="dataConfirmModal" class="modal" role="dialog" aria-labelledby="dataConfirmLabel" aria-hidden="true"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button><h3 id="dataConfirmLabel">Please  Confirm</h3></div><div class="modal-body"></div><div class="modal-footer"><button class="btn" data-dismiss="modal" aria-hidden="true">No</button><a class="btn btn-danger" id="dataConfirmOK">Yes</a></div></div></div></div>');
            }
            $('#dataConfirmModal').find('.modal-body').text($(this).attr('data-confirm'));
            $('#dataConfirmOK').attr('href', href);
            $('#dataConfirmModal').modal({show: true});
            return false;
        });
        var oTable = $('#tab').dataTable({
            "language": {
                "lengthMenu": "Afficher MENU enregistrements par page",
                "zeroRecords": "Aucune donnée est sélectionnée.",
                "info": "Affichage de la page _PAGES_",
                "infoEmpty": "Aucune donnée est disponible.",
                "infoFiltered": "(Filtre de MAX enregistrements)",
                "search": "Rechercher: (Toutes les colonnes)",
                "paginate": {
                    "next": "Suivant",
                    "previous": "Précédent",
                    "last": "Dernier",
                    "first": "Premier"
                }

            },
            'iDisplayLength': 10,
            "sPaginationType": "full_numbers",
            dom: 'Bfrtip',
            buttons: [
                'copy',
                {
                    extend: 'excel',
                    messageTop: 'The information in this table is copyright to Sirius Cybernetics Corp.'
                },
                {
                    extend: 'pdf',
                    messageBottom: null
                },
                {

                    extend: 'csv',
                    bSelectedOnly: true,
                    messageBottom: null
                },
                {
                    extend: 'print',
                    messageTop: function () {
                        printCounter++;

                        if (printCounter === 1) {
                            return 'This is the first time you have printed this document.';
                        } else {
                            return 'You have printed this document ' + printCounter + ' times';
                        }
                    },
                    messageBottom: null
                }
            ]
        });
        $("tfoot input").keyup(function () {
            / Filter on the column based on the index of this element's parent <th> /
            oTable.fnFilter(this.value, $("tfoot th").index($(this).parent()));
        });
        $("tfoot input").each(function (i) {
            asInitValsFact[i] = this.value;
        });
        $("tfoot input").focus(function () {
            if (this.className == "search_init") {
                this.className = "";
                this.value = "";
            }
        });
        $("tfoot input").blur(function (i) {
            if (this.value == "") {
                this.className = "search_init";
                this.value = asInitValsFact[$("tfoot input").index(this)];
            }
        });
        $('.sorting_asc').addClass('sorting_disabled');
        $('.sorting_asc').removeClass('sorting_asc');

        $("#tab").removeClass("no-footer");
        $('a[data-confirm]').click(function (ev) {
            var href = $(this).attr('href');
            if (!$('#dataConfirmModal').length)
            {
                $('body').append('<div id="dataConfirmModal" class="modal" role="dialog" aria-labelledby="dataConfirmLabel" aria-hidden="true"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button><h3 id="dataConfirmLabel">Please confirm</h3></div><div class="modal-body"></div><div class="modal-footer"><button class="btn" data-dismiss="modal" aria-hidden="true">No</button><a class="btn btn-danger" id="dataConfirmOK">Yes</a></div></div></div></div>');
            }
            $('#dataConfirmModal').find('.modal-body').text($(this).attr('data-confirm'));
            $('#dataConfirmOK').attr('href', href);
            $('#dataConfirmModal').modal({show: true});
            return false;
        });
    });
</script>
{%block javascripts %}{%endblock%}


</html>

