{% extends 'base_dashboard.html.twig' %}
{% block title %}Events list {% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <a class="btn btn-primary pull-right" href="{{path('slide_new')}} ">Add new slide</a>
            <div class="card-header">
                <div class="card-header">
                    <h4 class="card-title"> Slides</h4>
                    {% for flashMessage in app.session.flashbag.get('flashSuccess') %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert alert-info">
                                    <span><b>Succes !</b> {{flashMessage}}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="card-body">
                    {%if slides is empty %}
                    Aucun résultat est trouvé !
                    {%else%}
                    <div class="table-responsive">

                        <table  class="table" id="tab">
                            <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Isenable</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for slide in slides %}
            <tr>
                <td>{{ slide.name }}</td>
                <td>{{ slide.type }}</td>
                <td>{% if slide.isenable %}Yes{% else %}No{% endif %}</td>
                <td>
                    <a href="{{ path('slide_show', { 'id': slide.idslide }) }} "class="btn-width btn btn-sm btn-info "><i class="fa fa-eye"></i> View</a>
                    <a href="{{ path('slide_edit', { 'id': slide.idslide }) }} "class="btn-width btn btn-sm btn-primary "><i class="fa fa-edit"></i> Edit</a>
                    <a href="{{ path('slide_delete', { 'id': slide.idslide }) }}" data-confirm="are you sure you want to delete this?" class="btn-width btn btn-sm btn-danger deleteBtn"><i class="fa fa-times"></i> Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
                        </table>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}