{% extends 'base_dashboard.html.twig' %}
 {% block title %} Event Image creation{%endblock%}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Add New Newsletter</h4>
                    {{ form_start(form,{'attr':{'enctype':'multipart/form-data','method':'POST','class':'form-horizontal form-label-left myform'}}) }}
                    <div class="form-group">
                        {{form_label(form.email,"Email *",{'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}})}}
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            {{ form_widget(form.email, {'attr': {'class': 'form-control col-md-11 col-xs-12','required':'required'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            {{ form_widget(form.istreated, {'attr': {'class': 'form-control form-check-input col-md-11 col-xs-12','required':'required'}}) }}
                        </div>
                        {{form_label(form.istreated,"Treated *",{'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}})}}

                    </div>
                    {{ form_widget(form._token) }}
                    <div class="col-md-12">
                        <input type="submit" value="Create" class="btn btn-primary pull-right"/>
                    </div>
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
