{% extends 'base_dashboard.html.twig' %}
 {% block title %}   Actuality list{%endblock%}
{% block body %}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <a class="btn btn-primary pull-right" href="{{path('actuality_new')}} ">Add Actuality</a>
            <div class="card-header">
                <h5 class="card-category">Toutes les Actualité</h5>
                <h4 class="card-title"> Liste des Actualités</h4>
                {% for flashMessage in app.session.flashbag.get('flashSuccess') %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-info">
                                <span><b>Succes !</b> {{flashMessage}}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="card-body">
                {%if actualities is empty %}
                Aucun résultat est trouvé !
                {%else%}
                <div class="table-responsive">
                    <table  class="table" id="tab">
                         <thead>
                           <tr>
                           <th>Title</th>
                               <th>Resume</th>
                              <th>Datecreate</th>
                              <th>Actions</th>
                             </tr>
                         </thead>
                        <tbody>
                             {% for actuality in actualities %}
                                  <tr>
                                   <td>{{ actuality.title }}</td>
                                    <td>{{ actuality.resume }}</td>
                                    <td>{% if actuality.datecreate %}{{ actuality.datecreate|date('Y-m-d') }}{% endif %}</td>

                                      <td>
                                          <a href="{{ path('actuality_edit', { 'id': actuality.idactuality }) }}"class="btn-width btn btn-sm btn-primary "><i class="fa fa-edit"></i> Edit</a>
                                          <a href="{{ path('actuality_delete', { 'id': actuality.idactuality }) }}" data-confirm="are you sure you want to delete this?" class="btn-width btn btn-sm btn-danger deleteBtn"><i class="fa fa-times"></i> Delete</a>
                                      </td>
                                 </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}


