<h1>Actuality list</h1>
<table>
    <thead>
    <tr>
        <th>Idactuality</th>
        <th>Title</th>
        <th>Resume</th>
        <th>Datecreate</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for actuality in actualities %}
        <tr>
            <td><a href="{{ path('actuality_show', { 'id': actuality.idactuality }) }}">{{ actuality.idactuality }}</a></td>
            <td>{{ actuality.title }}</td>
            <td>{{ actuality.resume }}</td>
            <td>{% if actuality.datecreate %}{{ actuality.datecreate|date('Y-m-d') }}{% endif %}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('actuality_show', { 'id': actuality.idactuality }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('actuality_edit', { 'id': actuality.idactuality }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('actuality_new') }}">Create a new entry</a>
    </li>
</ul>