
{% extends 'base_dashboard.html.twig' %}
{% block title %}   Hotel {%endblock%}
{% block body %}


    <center>
        <div class="col-md-10">
            <div class="card card-user">
                <div class="card-body">
                    <div class="author">
                        <a href="#">
                            <img class="rounded" src="{{ imagehotel.link }}">
                            <h5 class="title">{{ hotel.name }}</h5>
                        </a>
                        <p class="description text-center">
                            {{ hotel.nbstars }} <i class="fa-star"></i>
                        </p>

                    </div>
                    <p class="description text-info">
                        {{ hotel.description }}<br>
                        Distance event : {{ hotel.distanceevent }}
                    </p>
                    <center>
                        <a href="{{ hotel.linkhotel }}">link to {{ hotel.name }}</a>
                    </center>
                </div>
                <div class="card-footer">
                    <center>
                        <a href="{{ path('hotel_edit', { 'id': hotel.idhotel }) }} "class="btn-width btn btn-sm btn-primary "><i class="fa fa-edit"></i> Edit</a>
                        <a href="{{ path('hotel_delete', { 'id': hotel.idhotel }) }}" data-confirm="are you sure you want to delete this?" class="btn-width btn btn-sm btn-danger deleteBtn"><i class="fa fa-times"></i> Delete</a>
                    </center>
                </div>
            </div>
        </div>
    </center>

{% endblock %}
