{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tag list</h1>

    <table>
        <thead>
            <tr>
                <th>Idtag</th>
                <th>Name</th>
                <th>Datecreate</th>
                <th>Linktag</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr>
                <td><a href="{{ path('tag_show', { 'id': tag.idtag }) }}">{{ tag.idtag }}</a></td>
                <td>{{ tag.name }}</td>
                <td>{% if tag.datecreate %}{{ tag.datecreate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ tag.linktag }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('tag_show', { 'id': tag.idtag }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('tag_edit', { 'id': tag.idtag }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tag_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
